{% extends 'galeria/base.html' %}
{% load static %}

{% block content %}
    <div class="pagina-inicial">
        {% include 'galeria/partials/_header.html' %}
        <main class="principal">
            {% include 'galeria/partials/_menu_lateral.html' %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        <img class="imagem__imagem" src="{{ imagem.foto.url }}">
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{ iamgem.nome }}</p>
                                <p class="imagem__descricao">{{ imagem.legenda }}</p>
                                <p class="imagem__texto">{{ imagem.descricao }}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
    
{% endblock %}